click==7.1.2
Flask==1.1.4
Flask-Cors==3.0.10
Flask-Login==0.6.1
flask-pwa==0.1.0
Flask-SQLAlchemy==2.5.1
greenlet==2.0.2
itsdangerous==1.1.0
Jinja2==2.11.3
MarkupSafe==1.1.0
psutil==5.9.5
six==1.16.0
SQLAlchemy==1.4.37
Werkzeug==3.0.1
