{% extends "layout.html" %}
{% set active_page = "graph" %}
{% block body %}

  
    <!-- App Capsule -->
    <div id="appCapsule">
      
         <!-- Chart 1-->
        
        <div class="section mt-1 mb-1">
            <div class="section-title"></div>
            <div class="card">
                <div class="card-body">
                    <div id="chart3"></div>
                </div>
            </div>
        </div>

        <!-- * Chart 1 -->

        <!-- Chart 2-->
        <div class="section mt-1 mb-1">
            <div class="section-title"></div>
            <div class="card">
                <div class="card-body">
                    <div id="chart2"></div>
                </div>
            </div>
        </div>

        <!-- * Chart 2 -->
        
        <!-- Chart 3-->
        <div class="section mt-1 mb-1">
          <div class="section-title"></div>
          <div class="card">
              <div class="card-body">
                  <div id="chart1"></div>
              </div>
          </div>
      </div>

      <!-- * Chart 3 -->

    </div>
    <!-- * App Capsule -->



<script>
    // Chart 1
    
    var options1 = {
      series: [
          {
            name: "vent",
            data: [{% for item in WS %}
              "{{item}}",
              {% endfor %}]
          },
        ],
          chart: {
          height: 500,
          type: 'area',
          dropShadow: {
            enabled: false,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: true
          }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
            width: 4,
        },
        title: {
          text: 'Vitesse du vent',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          
        },
        markers: {
          size: 0
        },
        xaxis: {
          categories: [{% for item in labels %}
          "{{item}}",
          {% endfor %}],
          title: {
            text: ''
          }
        },
        yaxis: {
          title: {
            text: 'km/h'
          },
          min: 0,
          max: 100
        },
        legend: {
          position: 'bottom',
          horizontalAlign: 'center',
          floating: true,
          offsetY: 35,
          offsetX: -5
        }
        };

        var chart1 = new ApexCharts(document.querySelector("#chart1"), options1);
        chart1.render();
      


    // Chart Line 2
    var options2 = {
          series: [
          {
            name: "zone 1",
            data: [{% for item in H1 %}
              "{{item}}",
              {% endfor %}]
          },
          {
            name: "zone 2",
            data: [{% for item in H2 %}
              "{{item}}",
              {% endfor %}]
          },
          {
            name: "arrosage zone 1",
            data: [{% for item in W1 %}
              "{{item}}",
              {% endfor %}]
          },
          {
            name: "arrosage zone 2",
            data: [{% for item in W2 %}
              "{{item}}",
              {% endfor %}]
          }
        ],
          chart: {
          height: 500,
          type: 'line',
          dropShadow: {
            enabled: false,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: true
          }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
            width: 4,
        },
        title: {
          text: 'Humidité sol',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          
        },
        markers: {
          size: 0
        },
        xaxis: {
          categories: [{% for item in labels %}
          "{{item}}",
          {% endfor %}],
          title: {
            text: ''
          }
        },
        yaxis: {
          title: {
            text: '%HR'
          },
          min: -100,
          max: 100
        },
        legend: {
          position: 'bottom',
          horizontalAlign: 'center',
          floating: true,
          offsetY: 35,
          offsetX: -5
        }
        };

        var chart2 = new ApexCharts(document.querySelector("#chart2"), options2);
        chart2.render();
      


    // Chart Line 3
    var options3 = {
          series: [
          {
            name: "Intérieur",
            data: [{% for item in T1 %}
          "{{item}}",
          {% endfor %}]
          },
          {
            name: "Extérieur",
            data: [{% for item in T2 %}
          "{{item}}",
          {% endfor %}]
          }
        ],
          chart: {
          height: 500,
          type: 'line',
          dropShadow: {
            enabled: false,
            color: '#000',
            top: 18,
            left: 7,
            blur: 10,
            opacity: 0.2
          },
          toolbar: {
            show: true
          }
        },
        colors: ['#77B6EA', '#545454'],
        dataLabels: {
          enabled: false,
        },
        stroke: {
          width: 4,
        },
        title: {
          text: 'Températures',
          align: 'left'
        },
        grid: {
          borderColor: '#e7e7e7',
          
        },
        markers: {
          size: 0
        },
        xaxis: {
          categories: [{% for item in labels %}
          "{{item}}",
          {% endfor %}],
          
          title: {
            text: ''
          }
        },
        yaxis: {
          title: {
            text: '°C'
          },
          min: -10,
          max: 50
        },
        legend: {
          position: 'bottom',
          horizontalAlign: 'center',
          floating: true,
          offsetY: 35,
          offsetX: -5
        }
        };

        var chart3 = new ApexCharts(document.querySelector("#chart3"), options3);
        chart3.render();
      

</script>
{% endblock %}

