<!--- 
  
MyGreenGarden V3.3  
LOGOUT PAGE
10 juin 2022
Patrick Pinard

--->

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>MyGreenGarden</title>
    <link rel="icon" type="image/png" href="static/img/favicon.png" sizes="32x32"> 
    <link rel="apple-touch-icon" sizes="201x251" href="static/img/greengarden-logo.png">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="manifest" href="manifest.json"> 
      
    <!-- ========= JS Files =========  -->

    
     <!-- Ajax --->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!-- Bootstrap -->
     <script src="static/js/lib/bootstrap.bundle.min.js"></script>
     <!-- Ionicons -->
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     <!-- Splide -->
     <script src="static/js/plugins/splide/splide.min.js"></script>
     <!-- Base Js File -->
     <script src="static/js/base.js"></script>
     <!-- Apex Charts -->
     <script src="static/js/plugins/apexcharts/apexcharts.min.js"></script>
   
    
  
</head>

<body>

    <!-- App Header -->
    <div class="appHeader bg-primary text-light">

       
        
        <div class="pageTitle">
          <img src="static/img/favicon.png" style="color:white" type="image/png" sizes="32x32">   <strong> MyGreenGarden </strong>
        </div>

        
    </div>

  <!-- App Capsule -->
  <div id="appCapsule">

    <div class="section mt-2 text-center">
        <a></a>
        </br></br></br>
    
    
         <img src="static/img/greengarden.png" class="class="rounded float-center img-responsive" alt="Responsive image">
   
        </br></br></br>
        <h1>Bye bye !</h1>

        <div> <a href="/login">retour au Login</a>  </div>
    </div>
   
    </div>
<!-- * App Capsule -->
</body>
</html>

