<!--- 
  
MyGreenGarden V4.0  
LOGIN PAGE
15 juin 2022
Patrick Pinard

--->

<!doctype html>
<html lang="en">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport"
        content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1, viewport-fit=cover" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <meta name="theme-color" content="#000000">
    <title>MyGreenGarden</title>
    <link rel="icon" type="image/png" href="static/img/favicon.png" sizes="32x32"> 
    <link rel="apple-touch-icon" sizes="201x251" href="static/img/greengarden-logo.png">
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="manifest" href="manifest.json"> 
      
    <!-- ========= JS Files =========  -->

    
     <!-- Ajax --->
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     <!-- Bootstrap -->
     <script src="static/js/lib/bootstrap.bundle.min.js"></script>
     <!-- Ionicons -->
     <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
     <!-- Splide -->
     <script src="static/js/plugins/splide/splide.min.js"></script>
     <!-- Base Js File -->
     <script src="static/js/base.js"></script>
     <!-- Apex Charts -->
     <script src="static/js/plugins/apexcharts/apexcharts.min.js"></script>
   
    
  
</head>

<body>
     <!-- App Header -->
     <div class="appHeader bg-primary text-light">
        <div class="pageTitle">
          <img src="static/img/favicon.png" style="color:white" type="image/png" sizes="32x32">   <strong> MyGreenGarden </strong>
        </div>
    </div>
    <!-- * App Header -->

    <!-- App Capsule -->
    <div id="appCapsule">
        <div class="section mt-2 text-center">
        
            </br>
            <h1>Enregistrez vous</h1>
            </br>
            <img src="static/img/greengarden.png" class="class="rounded float-center img-responsive" alt="Responsive image">
            </br>

        </div>
        
        <div class="section mb-5 p-2">
            <form method="POST" role="form" action="/signup">  
                <div class="card">
                    <div class="card-body">
                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="name">Utilisateur</label>
                                <input type="text" class="form-control" name="name" id="name" placeholder="nom d'utilisateur">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>

                        <div class="form-group basic">
                            <div class="input-wrapper">
                                <label class="label" for="password">Password</label>
                                <input type="password" class="form-control" name="password" id="password" autocomplete="off"
                                    placeholder="mot de passe">
                                <i class="clear-input">
                                    <ion-icon name="close-circle"></ion-icon>
                                </i>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-links mt-2">
                    <div> <a href="/login">Login</a>  </div>
                    <!--- <div><a href=/register" class="text-muted">Mot de passe oublié ?</a></div>  -->
                </div>
                

                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        </br>
                        <div class="notification is-danger">
                            {{ messages[0] }} 
                        </div>
                    {% endif %}
                {% endwith %}

                <div class="form-button-group transparent">
                    <button type="submit" class="btn btn-primary btn-block btn-lg">Enregistrer l'utilisateur</button>
                </div>

            </form>
        </div>

    </div>
    <!-- * App Capsule -->



    <!-- ========= JS Files =========  -->
    <!-- Bootstrap -->
    <script src="assets/js/lib/bootstrap.bundle.min.js"></script>
    <!-- Ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
    <!-- Splide -->
    <script src="assets/js/plugins/splide/splide.min.js"></script>
    <!-- Base Js File -->
    <script src="assets/js/base.js"></script>


</body>

</html>